ul#tabnav, ul.alpha-list { /* general settings */
text-align: left; /* set to left, right or center */
margin: 1em 0 1em 0; /* set margins as desired */
font: bold 12px verdana, arial, sans-serif; /* set font as desired */
border-bottom: 1px solid #6c6; /* set border COLOR as desired */
list-style-type: none;
padding: 3px 10px 3px 10px; /* THIRD number must change with respect to padding-top (X) below */
clear: both;
}

ul#tabnav li, ul.alpha-list li { /* do not change */
display: inline;
}

ul#tabnav li a, ul.alpha-list li a { /* settings for all tab links */
padding: 3px 4px; /* set padding (tab size) as desired; FIRST number must change with respect to padding-top (X) above */
border: 1px solid #6c6; /* set border COLOR as desired; usually matches border color specified in #tabnav */
background-color: #cfc; /* set unselected tab background color as desired */
color: #666; /* set unselected tab link color as desired */
margin-right: 0px; /* set additional spacing between tabs as desired */
text-decoration: none;
border-bottom: none;
}

ul#tabnav a:hover, ul.alpha-list a:hover { /* settings for hover effect */
background: #fff; /* set desired hover color */
}

/* end css tabs */

body {
	width: 90%;
	margin: 0 auto;
}

div#site-title {
	margin: 0 auto;
	width: 100%;
	text-align: center;
	font-size: 200%;
	font-weight: bold;
}

div#auth {
	float: right;
	clear: right;
}

.word-list dd {
	border-bottom: 1px solid #6c6;
}

th, td {
	border: none !important;
}

#footer {
	border-top: 2px solid #cfc;
	margin-top: 10px;
	padding: 3px 50px;
	color: #999;
	text-align: center;
	font-size: 80%;
}

#footer a {
	color: #555;
}

form#lang_change {
	float: right;
	clear: right;
}
