{% extends "base.html" %}
{% load pagination_tags %}
{% block title %}Contributors{% endblock %}
{% block content %}
<h1>Contributors</h1>
<table>
	<tr>
		<th>Contributor</th>
		<th>Accepted words</th>
		<th>Total words</th>
		<th>Currently working</th>
	</tr>
	{% for contrib in contributor_list %}
	<tr>
		<td><a href="{% url contributor_profile contrib.user.username %}">
				{{ contrib.user.display_name }}</a></td>
		<td>{{ contrib.number_accepted }}</td>
		<td>{{ contrib.number_words }}</td>
		<td>{{ contrib.current_work }}</td>
	</tr>
	{% endfor %}
</table>
{% if is_paginated %}
{% paginate %}
{% endif %}
{% endblock %}
