{% extends "base.html" %}
{% load pagination_tags i18n %}
{% block title %}{% trans "Contributors" %}{% endblock %}
{% block content %}
<h1>{% trans "Contributors" %}</h1>
<table>
	<tr>
		<th>{% trans "Contributor" %}</th>
		<th>{% trans "Accepted words" %}</th>
		<th>{% trans "Total words" %}</th>
		<th>{% trans "Currently working" %}</th>
	</tr>
	{% for contrib in contributor_list %}
	<tr>
		<td><a href="{% url contributor_profile contrib.user.username %}">
				{{ contrib.user.display_name }}</a></td>
		<td>{{ contrib.number_accepted }}</td>
		<td>{{ contrib.number_words }}</td>
		<td>{{ contrib.current_work }}</td>
	</tr>
	{% endfor %}
</table>
{% if is_paginated %}
{% paginate %}
{% endif %}
{% endblock %}
