{% extends "base.html" %}
{% block title %}Profile {{ profile.user.display_name }}{% endblock %}
{% block content %}
<h1>Profile: {{ profile.user.display_name }}</h1>
<table>
	<tr><th>Username</th><td>{{ profile.user.username }}</td></tr>
	<tr><th>Full name</th><td>{{ profile.user.first_name }}</td></tr>
	{% if user.is_staff %}
	<tr><th>Email</th><td>{{ profile.user.email }}</td></tr>
	{% endif %}
	<tr><th>Joined on</th><td>{{ profile.user.date_joined }}</td></tr>
	<tr><th>Website</th><td>{{ profile.website }}</td></tr>
	{% if user.is_authenticated %}
	<tr><th>Instant messenger IDs</th><td>{{ profile.ims }}</td></tr>
	{% endif %}
	<tr><th>Accepted words</th><td>{{ profile.number_accepted }}</td></tr>
	<tr><th>Total contributed words</th><td>{{ profile.number_words }}</td></tr>
</table>
{% endblock %}
