<!doctype html>
<html lang="bn">
	<head>
		<meta charset="utf-8">
		<title>Bangla Dictionary | {% block title %}{% endblock %}</title>
		<link href="/static/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
		<link href="/static/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" />
		<!--[if lt IE 8]>
      <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
		<![endif]-->
		{% block extra_head %}{% endblock %}
	</head>
	<body>
		{% if user.is_authenticated %}
		You're logged in as {{ user.nickname }}. <a href="{% url google_logout %}">Logout</a>.
		{% else %}
		Login with your <a href="{% url google_login %}">Google Account</a>.
		{% endif %}
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="{% url dict_list %}">Dictionaries</a></li>
			<li><a href="{% url contributor_list %}">Contributors</a></li>
			{% if user.is_authenticated %}
			<li><a href="{% url contributor_edit %}">Profile</a></li>
			{% endif %}
		</ul>
		{% block content %}{% endblock %}
	</body>
</html>

