<!doctype html>
<html lang="bn">
	<head>
		<meta charset="utf-8">
		<title>Bangla Dictionary | {% block title %}{% endblock %}</title>
		<link href="/static/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
		<link href="/static/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" />
		<!--[if lt IE 8]>
      <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
		<![endif]-->
	</head>
	<body>
		{% if user %}
		You're logged in as {{ user.nickname }}. <a href="{{ auth_url|escape }}">Logout</a>.
		{% else %}
		Login with your <a href="{{ auth_url|escape }}">Google Account</a>.
		{% endif %}
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/list">Words</a></li>
			<li><a href="/input">Contribute</a></li>
		</ul>
		{% block content %}{% endblock %}
	</body>
</html>

