{% load i18n %}
<!doctype html>
<html lang="bn">
	<head>
		<meta charset="utf-8">
		<title>{% trans "Bangla Dictionary" %} | {% block title %}{% endblock %}</title>
    <link rel="stylesheet"
		href="http://yui.yahooapis.com/3.2.0/build/cssreset/reset-min.css" type="text/css">
    <link rel="stylesheet"
		href="http://yui.yahooapis.com/3.2.0/build/cssbase/base-min.css" type="text/css">

		<link href="/static/stylesheets/screen.css" media="screen" rel="stylesheet"
		type="text/css" />
		{% block extra_head %}{% endblock %}
	</head>
	<body>
		<form action="/i18n/setlang/" method="post" id="lang_change">{% csrf_token %}
			<select name="language">
				{% for lang in LANGUAGES %}
				<option value="{{ lang.0 }}">{{ lang.1 }}</option>
				{% endfor %}
			</select>
			<input type="submit" value="{% trans "Go" %}" />
		</form>
		<div id="site-title">{% trans "Bangla Dictionary" %}</div>
		<div id="auth">{% if user.is_authenticated %}
			{% trans "Welcome" %} {{ user.username }}. <a href="{% url google_logout %}">
				{% trans "Logout" %}</a>.
		{% else %}
		<a href="{% url google_login %}">
			{% trans "Login with your Google Account" %}</a>.
		{% endif %}</div>
		<ul id="tabnav">
			<li><a href="/" title="Home">{% trans "Home" %}</a></li>
			<li><a href="{% url dict_list %}" title="Dictionaries">
				{% trans "Dictionaries" %}</a></li>
			<li><a href="{% url contributor_list %}" title="Contributors">
				{% trans "Contributors" %}</a></li>
			{% if user.is_authenticated %}
			<li><a href="{% url contributor_edit %}" title="Your profile">
				{% trans "Profile" %}</a></li>
			{% endif %}
			<li><a href="{% url dict_bulk_load %}">
				{% trans "Upload" %}</a></li>
			<li><a href="http://github.com/nsmgr8/Bangla-Dictionary/issues"
				title="Bug report / Feature request">
				{% trans "Bug/Feature" %}</a></li>
		</ul>
		<div id="container">
			{% block content %}{% endblock %}
		</div>
		<div id="footer">{% blocktrans %}This is an open-source project. The resultant database will
			be open and free to everyone for use. <br />
			This site is also an open source codebase hosted at
		 	<a href="http://github.com/nsmgr8/Bangla-Dictionary">GitHub</a>. <br />
			Copyright &copy; BengDict Project 2010.{% endblocktrans %}
		</div>
	</body>
</html>

