{% extends "base.html" %}
{% block title %}Comments{% endblock %}
{% block content %}
<h1>Discussion on {{ word.bangla }}</h1>
<dl>
	<dt>{{ word.bangla }}</dt>
	<dd>
		[{{ word.phoneme }}] ({{ word.pos }}) {{ word.english }}
		<p>{{ word.description }}</p>
		<p>
			<b>Synonyms:</b>
			{% for synonym in word.synonyms %}
			{{ synonym }},
			{% endfor %}
		</p>
		<p>
			<b>Antonyms:</b>
			{% for antonym in word.antonys %}
			{{ antonym }},
			{% endfor %}
		</p>
		{% ifequal user word.contributor %}
		<a href="/input?id={{ word.key.id }}">Edit</a>
		{% endifequal %}
	</dd>
</dl>
<h2>Comments</h2>
<ul>
	{% for comment in comments %}
	<li>
	{{ comment.user.nickname }} {{ comment.commented_at }}
	<p>{{ comment.comment }}</p>
	</li>
	{% endfor %}
</ul>
<form method="POST" action="">
	<label for="id_comment">Post your comment</label><br />
	<textarea name="comment" id="id_comment" rows="10" cols="30"></textarea>
	<br />
	<input type="submit" name="submit" value="Submit" />
</form>
{% endblock %}
