{% extends 'base.html' %}
{% block title %}List{% endblock %}
{% block content %}
{% regroup words by original as word_list %}
<dl>
	{% for word in word_list %}
	<dt>{{ word.grouper }}</dt>
	<dd><ul>
		{% for item in word.list %}
		<li>
		{% ifchanged %}[{{ item.phoneme }}]{% endifchanged %} ({{ item.pos }}) {{ item.translated }}
		<p>{{ item.description }}</p>
		<p>
			<b>Synonyms:</b>
			{% for synonym in item.synonyms %}
			{{ synonym }},
			{% endfor %}
			</p>
			<p>
			<b>Antonyms:</b>
			{% for antonym in item.antonys %}
			{{ antonym }},
			{% endfor %}
			</p>
			<a href="/comments?id={{ item.key.id }}">Comments</a>
			{% ifequal user item.contributor %}
			<a href="/input?id={{ item.key.id }}">Edit</a>
			{% endifequal %}
		</li>
		{% endfor %}
	</ul></dd>
	{% endfor %}
</dl>
{% endblock %}
